@media screen and (min-width: 1200px) {
    #map, #aggregate {
      float: left;
    }
    #info, #aggInfo {
      float: right;
      width: 350px;
    }
}

@media screen and (max-width: 1199px) {
    #info, #aggInfo {
      text-align: center;
      float: none;
    }
    #map, #aggregate {
      float: none;
    }
}

body, html {
	margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
	font-family: 'Raleway', sans-serif;
}

/* inspiration from http://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page */
#content {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#content p {
  color: rgb(45,58,71);
}

/*colummn inspiration from http://www.w3schools.com/css/css3_multiple_columns.asp*/
#text p {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  margin: 5%;
  text-align: justify;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

#text column {
  margin: 30px;
  text-align: justify;
}

#nav {
	padding: 1%;
	box-shadow: 0px 4px 4px -2px gray;
	margin-bottom: 1%;
  width: 98%;
  display: inline-block;

}

.background {
  fill: none;
  pointer-events: all;
}

h1 {
  font-family: 'Montserrat Subrayada', sans-serif;  
  font-size: 60px;
  text-align: right;
  color: rgb(45,58,71);
}

#states {
  fill: rgb(197,195,198);
}

#states .active {
  fill: rgb(176,220,79);
}

#state-borders {
  fill: none;
  stroke: rgb(220,220,221);
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#info {
	padding-left: 10px;
}

#location {
	font-size: 0.8em;
  text-align: center;
}

#projectTitle {
	float: right;
}

.dropbtn {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

#aggregate {
    display: inline-block;
}

#aggInfo {
    display: inline-block;
}


#myDropdown {
	max-height: 200px;
	overflow: auto;
}

path {
  stroke: #fff;
}

#footer {
  margin-top: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: rgb(45,58,71);
  color: rgb(220,220,221);
}

#footer h2 {
  color: rgb(197,195,198);
}
#footer h3 {
  color: rgb(176,220,79);
}

#chartTitle, #chartValue {
  font-size: 0.8em;
}